__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv/
venv/
dist/
build/
*.npz
*.ccp4
*.pdb
*.mtz
.DS_Store
examples/lysozyme/1iee*
*.patch
examples/1ee2/1ee2*
examples/6czg/6czg*
examples/6czg/temp.pdb
examples/6czg/perturbed_models/
examples/6czg/shake_recover_results/
logs/
# phenix.refine outputs land in the working directory it was invoked from
*_refine_[0-9][0-9][0-9].cif
*_refine_[0-9][0-9][0-9].eff
*_refine_[0-9][0-9][0-9].geo
*_refine_[0-9][0-9][0-9].log
*_refine_[0-9][0-9][0-9].def
*.tar
